* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#principal {
  height: 100vh;
  width: 100%;
  background-image: url(./img/Lean1.jpg);
  background-size: cover;
  opacity: 0.9;
}
header {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid red;
  background-color: #ffffff;
}
#logo {
  width: 40%;
  height: 65%;
}
#menu ul {
  display: flex;
  gap: 45px;
  list-style: none;
  margin-right: 30px;
}

#menu ul li a {
  color: #000000;
  text-decoration: none;
  font-family: "Architects Daughter", cursive;
  font-size: 20px;
}
#menu ul li a:hover {
  text-transform: uppercase;
  color: #82daff;
  border-bottom: solid 1px;
}
#texto-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  border: solid red;
}
h1 {
  font-family: "Luckiest Guy", cursive;
  color: #4d77f7;
  font-size: 80px;
  margin-bottom: 2%;
}
p {
  font-family: "Architects Daughter", cursive;
  color: #82daff;
  color: #ffffff;
  font-size: 30px;
}

h2 {
  font-family: "Architects Daughter", cursive;
  font-size: 57px;
  text-align: center;
}

#primeiro-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
#primeiro-container-texto {
  width: 95%;
}
#primeiro-container-texto p {
  color: #000000;
}

#segundo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.topicos {
  width: 20%;
  height: 35vh;
  border: solid #4d77f7;
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.topicos p {
  color: #000000;
  font-size: 15px;
  text-align: center;
}
.topicos img {
  width: 25%;
  height: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.coluna-do-segundo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#terceiro-container {
  text-align: center;
}
#terceiro-container p {
  color: #000000;
  margin-bottom: 2%;
}

#beneficio_img a {
  position: sticky;
  bottom: 37.7px;
  left: 71%;
  z-index: 2;
  font-size: 99%;
  text-decoration: none;
  color: red;
  padding: 1%;
  border-radius: 30px;
  border: dotted;
}
#beneficio_img a:hover {
  background-color: #ffffff;
}
