* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#principal {
  height: 100vh;
  width: 100%;
  background-image: url(./img/Lean1.jpg);
  background-size: cover;
  opacity: 0.9;
}
header {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid red;
  background-color: #ffffff;
}
#logo {
  width: 40%;
  height: 65%;
}
#menu ul {
  display: flex;
  gap: 45px;
  list-style: none;
  margin-right: 30px;
}

#menu ul li a {
  color: #000000;
  text-decoration: none;
  font-family: "Architects Daughter", cursive;
  font-size: 20px;
}
#menu ul li a:hover {
  text-transform: uppercase;
  color: #82daff;
  border-bottom: solid 1px;
}
#texto-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  border: solid red;
}
h1 {
  font-family: "Luckiest Guy", cursive;
  color: #4d77f7;
  font-size: 80px;
  margin-bottom: 2%;
}
p {
  font-family: "Architects Daughter", cursive;
  color: #82daff;
  color: #ffffff;
  font-size: 30px;
}

h2 {
  font-family: "Architects Daughter", cursive;
  font-size: 57px;
  text-align: center;
}

#primeiro-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#primeiro-container-texto p {
  color: #000000;
}
